main {
    width: calc(100dvw - 200px);
    float: right;
    color: black;
    background-color: #eeeeee;
    position: relative;
    top: 80px;
}
main section{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
main section h4 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, #5a5a5a, rgba(56,2,155,0));
    border-image-slice: 1;
    width:100%;
    margin-left: 10px;
}

main section article {
    position: relative;
    width: 415px;
    height: 300px;
    background-color: rgb(253, 253, 253);
    display: flex;
    border-radius: 10px;
    margin: 5px;
}

main section article img {
    width: 200px;
    height: 300px;
}


main.dark section article h1 {
    background-color: rgba(255, 255, 255, 0.616);
    color: black;
}


main section article h1 {
    background-color: rgba(0, 0, 0, 0.616);
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 0px;
    width: 190px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1rem;
}

main section article .info{
    padding: 10px 10px;
    position: relative;
}

main section article .info p.ep{
    font-weight: 100;
    font-size: .9rem;
}
main section article .info p.ep span, main section article .info .lancamento span{
    font-weight: bold;
}
main section article .info .lancamento{
    margin-bottom: 10px;
    font-size: .9rem;
}

main section article .info .sinopse{
    text-overflow: ellipsis;
    overflow-y: auto;
    height: 180px;
    margin: 20px 0;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Cor do polegar */
    border-radius: 5px; /* Raio de borda do polegar */
}

::-webkit-scrollbar-track {
    background-color: #eee; /* Cor da trilha */
    border-radius: 5px; /* Raio de borda da trilha */
}

main section article .info .icons{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: -5px;
}
main section article .info .icons .iconcss{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}